.main__about-us__footer__text__dash{
    color:var(--dash-color)
}
.main__about-us__right__article-name-box__name__dash{
    color:var(--dash-color)
}
.main__about-us__left__img-box__img{
    display: block;
    width:25%;
}
.main__about-us__right__img-box__img{
    display: block;
    width:25%;
}
.main__about-us__text-box__text{
    font-family:var(--font-rufina-family);
    font-style: italic;
    font-size:25px;
    color:var(--main-color);
    display: block;
    width: 25%;

}
.main__about-us__footer__text{
    font-family:var(--font-rufina-family);
    font-style: normal;
    font-size:17px;
    color:var(--main-color);
    
    font-weight:400;
}
.main__about-us__right__name-box__name{
    font-family:var(--font-nunito-family);
    font-style: normal;
    font-size:12px;
    color:var(--main-color);
    display: block;
    width: 25%;
}
.main__about-us__right__article-name-box__name{
    font-family:var(--font-rufina-family);
    font-style: normal;
    font-weight:400;
    font-size:48px;
    color:var(--font-color-sample-1);
    display: block;
    width: 25%;
}
.main__about-us__right__article-box__text{
    font-family:var(--font-nunito-family);
    font-style: normal;
    font-size:17px;
    color:var(--main-color);
    display: block;
    width: 25%;
    font-weight: 400;
    
}
.main__about-us__left__quatation-marks__img{
    width: 41.2px;
    height: 28.06px;
}