img {
  display: block;
  width: 100%;
}

.main__about-us__footer__text__dash {
  color: var(--dash-color);
}

.main__about-us__right__article-name-box__name__dash {
  color: var(--dash-color);
}

.main__about-us {
  padding-top: 90px;
  padding-bottom: 90px;
}

.main__about-us__inner-container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.main__about-us__inner-container__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.main__about-us__left {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.main__about-us__left_inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 27px;
  padding-right: 27px;
}

.main__about-us__left__quotation-marks {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.main__about-us__text-box {
  margin-top: 20px;
}

.main__about-us__text-box__text {
  text-align: left;
  font-family: var(--font-rufina-family);
  font-style: italic;
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--main-color);
  font-stretch: 100%;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main__about-us__footer {
  margin-top: 30px;
}

.main__about-us__footer__text {
  font-family: var(--font-nunito-family);
  font-style: normal;
  font-size: 17px;
  color: var(--main-color);
  font-weight: 400;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 25.5px;
}

.main__about-us__right {
  display: flex;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.main__about-us__right__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__about-us__right__name-box__name {
  font-family: var(--font-nunito-family);
  font-size: 12px;
  color: var(--main-color);
  line-height: 16.8px;
  font-style: normal;
}

.main__about-us__right__article-name-box {
  margin-top: 20px;
}

.main__about-us__right__article-name-box__name {
  font-family: var(--font-rufina-family);
  font-size: 28px;
  color: var(--font-color-sample-1);
  margin-top: 20px;
  line-height: 33.6px;
  letter-spacing: 0;
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main__about-us__right__article-box {
  margin-top: 25px;
}

.main__about-us__right__article-box__text {
  font-family: var(--font-nunito-family);
  font-size: 17px;
  color: var(--main-color);
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 25.5px;
}

.main__about-us__right__img-box {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .main__about-us {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .main__about-us__inner-container__grid {
    flex-wrap: nowrap;
  }

  .main__about-us__inner-container {
    padding: 0 32px;
  }

  .main__about-us__left {
    flex-basis: 58.66667%;
    max-width: 58.66667%;
  }

  .main__about-us__text-box {
    font-size: 22px;
    line-height: 1.6;
  }

  .main__about-us__footer {
    margin-top: 15px;
  }

  .main__about-us__right {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    margin-top: 0;
  }

  .main__about-us__right__article-name-box {
    margin-top: 10px;
  }

  .main__about-us__right__article-name-box__name {
    font-size: 41px;
    line-height: 49.2px;
  }
}

@media (min-width: 992px) {
  .main__about-us {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .main__about-us__inner-container__grid {
    flex-wrap: nowrap;
  }

  .main__about-us__inner-container {
    padding: 0 40px;
  }

  .main__about-us__text-box__text {
    line-height: 40px;
    font-size: 25px;
  }

  .main__about-us__right__article-name-box__name {
    font-size: 48px;
    line-height: 57.6px;
  }
}

@media (min-width: 1200px) {
  .main__about-us {
    margin: auto;
  }
}