.catalog {
    max-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.catalog li {
    align-self: center;
}

.catalog img {
    width:100%;
    height:auto;
}

.catalog__body {
    list-style-type: none;
}

@media (min-width: 600px) {
    .catalog {
        max-width: none;
    }
    .catalog__body {
        display: flex;
    }
    .catalog img {
        width:250px;
        height:450px;
        object-fit: cover;
    }
}