@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Rufina&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --dash-color:  rgb(194, 161, 138);
    --main-color:rgb(116, 116, 116);
    --font-color-sample-1:rgb(56, 56, 56);
    --font-color-sample-2: rgb(121, 121, 121);
    --font-color-sample-3: #383838;
    --font-rufina-family: 'Rufina', serif; 
    --font-nunito-family: 'Nunito', sans-serif;
}

img {
    display: block;
}

h2 {
    font-family: var(--font-nunito-family);
    font-size: 12px;
    font-weight: 600;
    color: var(--font-color-sample-2);
}

h3 {
    font-family:var(--font-rufina-family);
    font-style: normal;
    font-weight:400;
    font-size:48px;
    color:var(--font-color-sample-1);
}
  
h4 {
    font-family: var(--font-nunito-family);
    font-size: 22px;
    font-weight: 600;
    color: var(--font-color-sample-3);
}



