
.header__slogan__dash{
    color:var(--dash-color);
}
/* Roman Grycyshyn Block Start */
.header__introduction {
    font-family:var(--font-nunito-family);
    font-size: 12px;
    color: var(--font-color-sample-2);
    font-weight: 800;
}

.header__slogan {
    color: var(--font-color-sample-1);
    font-size: 28px;
    font-family:var(--font-rufina-family);
}

.header__our-description {
    color: var(--main-color);
    font-weight: 400;
    font-size: 19px;
}

.header__about-us-link-button-black {
    color: var(--font-color-sample-1);
    font-weight: 600;
    line-height: normal;
    font-size: 17px;
    font-family: var(--font-nunito-family);
    border-style: solid;
}

.header__about-us-link-button-black:hover {
    background-color: var(--font-color-sample-1);
    color: white;
    border-color: var(--font-color-sample-1);
}

.header__shop-now-link-button-white {
    border-style: solid;
    border-color: var(--font-color-sample-1);  
    background-color: var(--font-color-sample-1);
    margin: 1px;
}

.header__info {
    background-color: white;
    margin-right: 700px;
    padding-bottom: 15px;
    margin-left: 15px;
}
/* Roman Grycyshyn Block Start */
/* Sofiia block start */
a{
    color: #FFFFFF;
    font-weight: 600;
    line-height: normal;
    font-size: 17px;
    font-family: var(--font-nunito-family);
    text-decoration: none;
}
/* Sofiia block end */