.header__slogan__dash{
    color:var(--dash-color);
}
.header__introduction {
    font-family:var(--font-nunito-family);
    font-size: 12px;
    color: var(--font-color-sample-2);
}

.header__slogan {
    color: var(--font-color-sample-1);
    font-size: 28px;
    font-family:var(--font-rufina-family);
}

.header__our-description {
    color: var(--main-color);
    font-weight: 400;
    font-size: 19px;
}