
.header__slogan__dash{
    color:var(--dash-color);
}
/* Roman Grycyshyn Block Start */


.header__top-row-logo {
    box-sizing: 95px auto;
    margin-left: 120px;
    padding-top: 35px;
}



.header__entry-block {
    background-image: url(../img/background-logo.webp);
    background-position: -255px center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.header__info {
    background-color: white;
    padding: 45px 30px 45px 30px;
    block-size: 300px;
    margin-right: 790px;
    margin-left: 120px;
    margin-top: 180px;
}

.header__introduction {
    font-family:var(--font-nunito-family);
    font-size: 12px;
    color: var(--font-color-sample-2);
    font-weight: 800;
}

.header__slogan {
    color: var(--font-color-sample-1);
    font-size: 28px;
    font-family:var(--font-rufina-family);
}

.header__our-description {
    color: var(--main-color);
    font-weight: 400;
    font-size: 19px;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
}

.header__about-us-link-button-black {
    color: var(--font-color-sample-1);
    font-weight: 600;
    line-height: normal;
    font-size: 17px;
    font-family: var(--font-nunito-family);
    border-style: solid;
    margin-left: 15px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__shop-now-link-button-white {
    border-style: solid;
    border-color: var(--font-color-sample-1);  
    background-color: var(--font-color-sample-1);
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__about-us-link-button-black:hover {
    background-color: var(--font-color-sample-1);
    color: white;
    border-color: var(--font-color-sample-1);
}



/* Roman Grycyshyn Block Start */
/* Sofiia block start */
a{
    color: #FFFFFF;
    font-weight: 600;
    line-height: normal;
    font-size: 17px;
    font-family: var(--font-nunito-family);
    text-decoration: none;
}
/* Sofiia block end */