.why_choose_us__background {
    background-image: url(../img/why_choose_us/mobile-background.jpg);
    position: relative;
    /* position: 35.94% 53.05% ; */
    object-fit: cover;
}

.why_choose_us__container {
    padding-top: 90px;
    padding-bottom: 90px;
}

.why_choose_us__container__inner {
    padding-right: 24px;
    padding-left: 24px;
}

.why_choose_us__container__inner__grid {
    margin-left: -15px;
    margin-right: -15px;
}

.why_choose_us__container__inner__grid__top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.why_choose_us__title__name{
    color: var(--font-color-sample-2);
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    vertical-align: baseline;
    line-height: 16.8px;
    margin-top: 20px;
}
.why_choose_us__subtitle-box{
   margin-top:20px;
}
.why_choose_us__slogan__name{
    font-size: inherit;
    vertical-align: baseline;
    text-transform: none;
    text-align: left;
    font-size: 19px;
    font-family: var(--font-nunito-family);
    font-stretch: 100%;
    font-style: normal;
    line-height: 28.5px;
    margin-top: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 100px;
    position: relative;
    transform: scale(1);
  }
  
  .circle {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .gradient-circle {
    background: conic-gradient(
      #b0dde2 0%,
      #caeeec 40%,
      #84d8da 40%,
      #a0f0e4 60%,
      #e0d49e 60%,
      #ccc09e 100%
    );
    height: 120px;
    width: 120px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
  }
  
  .pointer {
    background-color: rgb(240, 181, 18);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
  }
  
  .pointer-container {
    position: absolute;
    top: -40px;
    left: 40px;
    width: 20px;
    height: 90px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .container.grow {
    animation: grow 3s linear forwards;
  }
  
  @keyframes grow {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.2);
    }
  }
  
  .container.shrink {
    animation: shrink 3s linear forwards;
  }
  
  @keyframes shrink {
    from {
      transform: scale(1.2);
    }
  
    to {
      transform: scale(1);
    }
  }
.why_choose_us__text-box__text-top {
    margin-top: 25px;
    font-size: 19px;
    font-family: var(--font-nunito-family);
    line-height: 28.5px;
}

.why_choose_us__text-box__text-bottom {
    margin-top: 25px;
    font-size: 17px;
    font-family: var(--font-nunito-family);
    line-height: 25.5px;
}

.why_choose_us__dash {
    color: var(--dash-color);
}

.why_choose_us__text__list{
    list-style: none;
}

.why_choose_us__text__list-box__title{
    color: #383838;
    font-size: inherit;
    font-family: var(--font-nunito-family);
    font-size: 22px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    vertical-align: baseline;
    text-align: left;
    line-height: 33px;
}

.why_choose_us__text__list > .why_choose_us__text__list__item{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
.why_choose_us__text__list > .why_choose_us__text__list__item:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: var(--dash-color);
}

.why_choose_us__text__list__item{
    font-family: var(--font-nunito-family);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    vertical-align: baseline;
    line-height: 25.5px;
}
.why_choose_us__paragraph{
    color: #747474;
    font-family: var(--font-nunito-family);
    font-size: 17px;
    font-stretch:100%;
    font-weight: 400;
    margin-top: 20px;
    max-width: 100%;
    position:relative;
    text-align: left;
    vertical-align: baseline;
    line-height: 25.5px;
}

.why_choose_us__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.why_choose_us__button__button {
    font-family: var(--font-nunito-family);
    border-style: solid;
    border-color: var(--font-color-sample-1);  
    background-color: var(--font-color-sample-1);
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

.why_choose_us__icon {
    width:100%;
    display: none;
  }

@media (min-width:768px) {
    .why_choose_us__subtitle__name {
        font-size: 41px;
        line-height: 49.2px;        
    }
    .why_choose_us__container__inner__grid{
        display: flex;
        flex-wrap: nowrap;
    }
    .why_choose_us__container__inner__grid__top{
        width: 50%;
    }
    .why_choose_us__container__empty{
        width:50%;
        padding-left: 15px;
        padding-right: 15px;
        background-image: url(../img/why_choose_us/why_choose_us__background.jpg);        
        background-size: cover;
        background-position:center;
    }
}
@media (min-width: 1200px) {
    .why_choose_us__container__inner__grid{
      max-width: 1200px;
      margin: auto;
    }
    .why_choose_us__subtitle__name {
        font-size: 48px;
        line-height: 56.7px;        
    }
  }